@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");

:root {
  --font-family-h: "Open Sans", "sans-serif";
  --font-family-p: "Roboto", "sans-serif";
  --color-darkblue: #131a2d;
  --color-blue: #212a45;
  --color-coral: #dd5471;
  --color-white: #fff;
  --color-lightgray: #ddd;
  --color-lightgreen: #60d2a3;
  --color-lightyellow: #fed168;
}
